@model RTCDeckServer.Models.PresentationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Clear and engaging writing</title>
    <meta name="description" content="A presentation on how to produce better written content">
    <meta name="author" content="Luke Canvin">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="@Url.Content("~/Content/reveal/reveal.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/reveal/theme/source/occ.css")" id="theme">
    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="@Url.Content("~/Content/reveal/lib/zenburn.css")">
    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="@Url.Content("~/Content/reveal/print/")' + (window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper') + '.css" type="text/css" media="print">');
    </script>
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Scripts/reveal/lib/js/html5shiv.js")"></script>
    <![endif]-->
</head>
<body ng-app="slideView">



    <div class="reveal" ng-controller="Controllers.SlideViewCtrl">
        <!-- Any section element inside of this container is displayed as a slide -->
        <div class=" slides">
            <section class="title" data-background="@Url.Content("~/Content/reveal/theme/images/occbackground.png")">
                <h2>Show &amp; tell</h2>
                <h1>Clear and engaging writing</h1>
                <aside class="notes">
                    <p><strong>Remember not to talk too quickly. You're aiming to spend about one minute per slide.</strong></p>
                    <ul>
                        <li>These notes will not be shown to the audience</li>
                        <li>You should also find them on your slide controller</li>
                    </ul>
                    <p>The next slide is "Why writing is important"</p>
                </aside>
                <aside class="supplementary">
                    <p><strong>Welcome to this presentation about Clear and Engaging Writing.</strong></p>
                    <ol>
                        <li>We hope you enjoy this talk.</li>
                        <li>We value your feedback - please vote!</li>
                    </ol>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": "multi0-0","question" : "Choose any option?" ,"style" : "MultiChoice" ,"options" :
                       [
                       { "optionid": 1, "optiontext": "A: Hello" },{ "optionid": 2, "optiontext": "B: Bonjour" }, {"optionid": 3, "optiontext": "C: ¡Hola!"}, {"optionid": 4, "optiontext": "D: Guten tag"}] },

                       {"Identifier": "likeDislike0-0","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                       ]'></aside>
            </section>
            <section>
                <h2>Why writing is important</h2>
                <ul>
                    <li>It's often our first point of contact</li>
                    <li>What we write is part of our company's voice</li>
                    <li class="fragment">We are judged by it</li>
                </ul>
                <aside class="notes">
                    <p><strong>These are the notes for the 1st slide of the presentation.</strong> They will not be shown to the audience.</p>
                </aside>
                <aside class="supplementary">
                    <p><strong>Writing is important! Don't forget.</strong></p>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": "multi1-0","question" : "How much do you know about clear and engaging writing?" ,"style" : "MultiChoice" ,"options" :
                       [
                       { "optionid": 1, "optiontext": "A: Too much" }, {"optionid": 2, "optiontext": "B: Enough to get by"}, { "optionid": 3, "optiontext": "C: Less than I would like" }, {"optionid": 4, "optiontext": "D: Nothing"}] },

                       {"Identifier": "likeDislike1-0","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                       ]'></aside>
            </section>
            <section>
                <blockquote>The most valuable of all talents is that of never using two words when one will do</blockquote>
                <p class="blockquote-attribution">Thomas Jefferson</p>
                <aside class="notes">
                    <p><strong>These are the notes for the 2nd slide of the presentation.</strong> The audience are currently seeing a picture of Thomas Jefferson.</p>
                </aside>
                <aside class="supplementary">
                    <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Thomas_Jefferson_by_Rembrandt_Peale_1805_cropped.jpg/220px-Thomas_Jefferson_by_Rembrandt_Peale_1805_cropped.jpg" alt="Portrait of Jefferson" />
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike2-0","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'>
                </aside>
            </section>
            <section>
                <section>
                    <h2>Tips for clear writing</h2>
                    <ul>
                        <li>
                            Ask yourself:
                            <ol>
                                <li>
                                    Why am I writing this?
                                    <ul>
                                        <li>What's it going to achieve?</li>
                                        <li>What questions am I answering?</li>
                                        <li>Does the material exist already?</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                    </ul>
                    <aside class="notes">
                        <p>Remember there is additional content available when you press DOWN. You could skip this if you're short on time</p>
                    </aside>
                    <aside class="supplementary">
                        <p>Here are some useful links relating to clear writing</p>
                        <ul>
                            <li><a href="http://www.copyblogger.com/clear-writing">Just Say No to These Three Enemies of Clear and Direct Writing</a></li>
                            <li><a href="http://webaim.org/techniques/writing/">Writing Clearly and Simply</a></li>
                            <li><a href="http://ec.europa.eu/translation/writing/clear_writing/how_to_write_clearly_en.pdf">How to write Clearly</a></li>
                        </ul>
                    </aside>
                    <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike3-0","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
                </section>
                <section>
                    <h2>Tips for clear writing</h2>
                    <ul>
                        <li>
                            Ask yourself:
                            <ol>
                                <li>Why am I writing this?</li>
                                <li>
                                    Who is it for?
                                    <ul>
                                        <li>Keep your readers' needs in mind</li>
                                        <li>Be clear about what action you want your readers to take</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                    </ul>
                    <aside class="notes">
                        <p>Remember there is additional content available when you press DOWN. You could skip this if you're short on time</p>
                    </aside>
                    <aside class="supplementary">
                        <p>Here are some useful links relating to clear writing</p>
                        <ul>
                            <li><a href="http://www.copyblogger.com/clear-writing">Just Say No to These Three Enemies of Clear and Direct Writing</a></li>
                            <li><a href="http://webaim.org/techniques/writing/">Writing Clearly and Simply</a></li>
                            <li><a href="http://ec.europa.eu/translation/writing/clear_writing/how_to_write_clearly_en.pdf">How to write Clearly</a></li>
                        </ul>
                    </aside>
                    <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike3-1","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
                </section>

                <section>
                    <h2>Tips for clear writing</h2>
                    <ul>
                        <li>
                            Ask yourself:
                            <ol>
                                <li>Why am I writing this?</li>
                                <li>Who is it for?</li>
                                <li>
                                    What am I trying to say?
                                    <ul>
                                        <li>What are the important messages?</li>
                                        <li>Outline a plan</li>
                                        <li>Use subheadings</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                    </ul>
                    <aside class="notes">
                        <p>Remember there is additional content available when you press DOWN. You could skip this if you're short on time</p>
                    </aside>
                    <aside class="supplementary">
                        <p>Here are some useful links relating to clear writing</p>
                        <ul>
                            <li><a href="http://www.copyblogger.com/clear-writing">Just Say No to These Three Enemies of Clear and Direct Writing</a></li>
                            <li><a href="http://webaim.org/techniques/writing/">Writing Clearly and Simply</a></li>
                            <li><a href="http://ec.europa.eu/translation/writing/clear_writing/how_to_write_clearly_en.pdf">How to write Clearly</a></li>
                        </ul>
                    </aside>
                    <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike3-2","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
                </section>

                <section>
                    <h2>Tips for clear writing</h2>
                    <ul>
                        <li>
                            Ask yourself:
                            <ol>
                                <li>Why am I writing this?</li>
                                <li>Who is it for?</li>
                                <li>What am I trying to say?</li>
                            </ol>
                        </li>
                        <li class="separate">Reader-centred writing</li>
                        <li class="fragment">Will your readers leave with the right message?</li>
                    </ul>
                    <aside class="notes">
                        <p>No more additional content.</p>
                    </aside>
                    <aside class="supplementary">
                        <p>Here are some useful links relating to clear writing</p>
                        <ul>
                            <li><a href="http://www.copyblogger.com/clear-writing">Just Say No to These Three Enemies of Clear and Direct Writing</a></li>
                            <li><a href="http://webaim.org/techniques/writing/">Writing Clearly and Simply</a></li>
                            <li><a href="http://ec.europa.eu/translation/writing/clear_writing/how_to_write_clearly_en.pdf">How to write Clearly</a></li>
                        </ul>                    </aside>
                    <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike3-3","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
                </section>

            </section>
            <section>
                <h2>How to say what you mean</h2>
                <ul>
                    <li>Be direct</li>
                    <li>Use the active voice</li>
                    <li>Keep it short and simple</li>
                    <li>One sentence, one idea</li>
                    <li>Proof it</li>
                </ul>

                <aside class="notes">
                    <p>Slide 4 - No need to say much on this</p>
                </aside>
                <aside class="supplementary">
                    <p>If you remember one thing from this presentation, remember to proof your writing!</p>
                </aside>

                <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike4-0","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'>
                </aside>

            </section>
            <section>
                <h2>Be direct</h2>
                <ul>
                    <li>Address your readers as ‘you’</li>
                    <li>Refer to yourself as ‘we’ or ‘I’</li>
                    <li class="fragment" data-fragment-index="1">Your writing and its relevance will be easier to understand</li>
                    <li class="fragment" data-fragment-index="1">‘You’ and ‘we’ make writing more confident, transparent and personal</li>
                    <li class="fragment" data-fragment-index="2">Write about what concerns your reader</li>
                </ul>
                <aside class="notes">
                    <p>Slide 5 - No additional notes</p>
                </aside>
                <aside class="supplementary">
                    <p>Be direct</p>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike5-0","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
            </section>
            <section>
                <section>
                    <h2>Use the active voice</h2>
                    <ul>
                        <li>The single biggest thing to make your writing more engaging</li>
                        <li class="separate fragment">
                            Passive voice:
                            <p class="indent correct">‘All of the mistakes were made by him’</p>
                        </li>
                        <li class="fragment">
                            Active voice:
                            <p class="indent incorrect">‘He made all of the mistakes’</p>
                        </li>
                    </ul>
                    <aside class="notes">
                        <p>Slide 6 - Remember you can go DOWN here</p>
                    </aside>
                    <aside class="supplementary">
                        <p>Use the active voice</p>
                    </aside>
                    <aside class="polls" data-polls='[
                       {"Identifier": "multi6-0","question" : "Can the passive voice ever be useful?" ,"style" : "MultiChoice" ,"options" :
                       [
                       { "optionid": 1, "optiontext": "Yes" },{ "optionid": 2, "optiontext": "No" }, {"optionid": 3, "optiontext": "Maybe"}] },
                       {"Identifier": "likeDislike6-0","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
                </section>

                <section>
                    <h2>Use the active voice</h2>
                    <ul>
                        <li>The passive voice puts the action first</li>
                        <li>The active voice puts the ‘doer’ first</li>
                        <li class="fragment" data-fragment-index="1">Clearer</li>
                        <li class="fragment" data-fragment-index="1">Less clumsy/academic</li>
                        <li class="fragment" data-fragment-index="1">More concise</li>
                        <li class="fragment" data-fragment-index="1">More interesting</li>
                    </ul>
                    <aside class="notes">
                        <p>Slide 6 - Remember you can go DOWN here</p>
                    </aside>
                    <aside class="supplementary">
                        <p>Use the active voice</p>
                    </aside>
                    <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike6-1","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
                </section>

                <section>
                    <h2>Use the active voice</h2>
                    <ul>
                        <li>
                            Look out for ‘was’ and ‘by’
                            <ul>
                                <li>‘The report was written by me’</li>
                                <li>‘Her birthday was celebrated’</li>
                            </ul>
                        </li>
                        <li class="fragment">
                            Or when there is no ‘doer’
                            <ul>
                                <li>‘The files will be sent as soon as possible’</li>
                                <li>‘All our records have been lost’</li>
                            </ul>
                        </li>
                    </ul>
                    <aside class="notes">
                        <p>That's the end</p>
                    </aside>
                    <aside class="supplementary">
                        <p>Use the active voice</p>
                    </aside>
                    <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike6-2","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
                </section>
            </section>
            <section>
                <section>
                    <h2>Keep it short and simple</h2>
                    <ul>
                        <li>Use everyday language</li>
                        <li>
                            Edit what you’ve written
                            <ul>
                                <li>Are you using the best word for the job?</li>
                                <li>What do you mean?</li>
                                <li>Is there a simpler way to say it?</li>
                            </ul>
                        </li>
                        <li class="fragment">When you’re finished, try cutting the content by a third</li>
                    </ul>
                    <aside class="notes">
                        <p>Slide 7 - Remember you can go DOWN here</p>
                    </aside>
                    <aside class="supplementary">
                        <p>Keep it short and simple</p>
                    </aside>
                    <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike6-3","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
                </section>

                <section>
                    <h2>Keep it short and simple</h2>
                    <ul>
                        <li>Verbs make language dynamic</li>
                        <li class="fragment" data-fragment-index="1">
                            Watch out for ‘nominalisation’
                            <ul>
                                <li>Creating a noun from a verb</li>
                                <li class="fragment" data-fragment-index="2">Use <span class="correct">consider</span> not <span class="incorrect">give consideration to</span></li>
                                <li class="fragment" data-fragment-index="2">Use <span class="correct">decide</span>, not <span class="incorrect">reach a decision</span></li>
                            </ul>
                        </li>
                        <li class="fragment">
                            Be concrete rather than abstract
                            <ul class="fragment">
                                <li><span class="incorrect">Employment opportunities</span> = <span class="correct">jobs</span></li>
                                <li><span class="incorrect">Achieve the objective</span> = <span class="correct">release on the 30th</span></li>
                            </ul>
                        </li>
                    </ul>
                    <aside class="notes">
                        <p>That's the end</p>
                    </aside>
                    <aside class="supplementary">
                        <p>Keep it short and simple</p>
                    </aside>
                    <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike6-4","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
                </section>
            </section>
            <section>
                <h2>One sentence, one idea</h2>
                <ul>
                    <li>Keep your sentences short</li>
                    <li>One idea per sentence</li>
                    <li>Long sentences are hard to follow and understand</li>
                    <li>Varying the rhythm of your sentences keep them engaging</li>
                    <li>Try to stick to one main point per paragraph</li>
                </ul>
                <aside class="notes">
                    <p>Slide 8 - One sentence, one idea</p>
                </aside>
                <aside class="supplementary">
                    <p>One sentence, one idea</p>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike7-0","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
            </section>
            <section>
                <h2>Proof it</h2>
                <ul>
                    <li>Proofreading is not an optional extra</li>
                    <li>Come back to proof when you’re fresh</li>
                    <li>Perhaps ask someone else</li>
                    <li>In some cases, printing it might be useful</li>
                </ul>
                <aside class="notes">
                    <p>Slide 9 - Proof it</p>
                </aside>
                <aside class="supplementary">
                    <p>Proof it</p>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": "multi8-0-1","question" : "How often do you proofread?" ,"style" : "MultiChoice" ,"options" :
                       [
                       { "optionid": 1, "optiontext": "A: Every time" },{ "optionid": 2, "optiontext": "B: Most of the time" }, {"optionid": 3, "optiontext": "C: Some of the time"}, {"optionid": 4, "optiontext": "D: Never"}] },
                       {"Identifier": "multi8-0-2","question" : "Do you usually ask someone else to proofread your work?" ,"style" : "MultiChoice" ,"options" :
                       [
                       { "optionid": 1, "optiontext": "Yes" },{ "optionid": 2, "optiontext": "No" }] },
                       {"Identifier": "likeDislike8-0","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
            </section>
            <section>
                <h2>Top ten tips</h2>
                <ol class="smaller">
                    <li>Know your reader</li>
                    <li>Know what you want to say</li>
                    <li>Be direct</li>
                    <li>Use the active voice</li>
                    <li>Keep it short and simple</li>
                    <li>One sentence, one idea</li>
                    <li>Keep paragraphs short</li>
                    <li>Use subheadings that summarise your content</li>
                    <li>Edit, then edit again</li>
                    <li>Proofread when you’re fresh</li>
                </ol>
                <aside class="notes">
                    <p>Slide 10 - Top ten tips</p>
                </aside>
                <aside class="supplementary">
                    <ol class="smaller">
                        <li>Know your reader</li>
                        <li>Know what you want to say</li>
                        <li>Be direct</li>
                        <li>Use the active voice</li>
                        <li>Keep it short and simple</li>
                        <li>One sentence, one idea</li>
                        <li>Keep paragraphs short</li>
                        <li>Use subheadings that summarise your content</li>
                        <li>Edit, then edit again</li>
                        <li>Proofread when you’re fresh</li>
                    </ol>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike9-0","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
            </section>
            <section>
                <blockquote>I try to leave out the parts that people skip</blockquote>
                <p class="blockquote-attribution">Elmore Leonard</p>
                <aside class="notes">
                    <p>Slide 11 - skip this one...</p>
                </aside>
                <aside class="supplementary">
                    <img src="http://en.wikipedia.org/wiki/File:Elmore_Leonard.jpg" alt="image of Elmore Leonard" />
                    <p>Born October 11th, 1925</p>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike10-0","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
            </section>
            <section>
                <section>
                    <h2>Writing for digital media</h2>
                    <ul>
                        <li>One subject per page</li>
                        <li>Key information in the most prominent position</li>
                        <li>Intro paragraph answering basic questions</li>
                        <li>Links to supporting information</li>
                    </ul>
                    <aside class="notes">
                        <p>Slide 12 - Writing for Digital Media - this has an optional slide, you can go DOWN here</p>
                    </aside>
                    <aside class="supplementary">
                        <p>Writing for Digital Media.</p>
                    </aside>
                    <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike11-0","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
                </section>
                <section>
                    <h2>Writing for digital media</h2>
                    <ul>
                        <li>Plentiful, meaningful subheadings</li>
                        <li>Use bold to highlight key ideas</li>
                        <li>Keep paragraphs short</li>
                        <li>
                            Optimise for search
                            <ul>
                                <li>Title and headings</li>
                                <li>Description</li>
                                <li>Links</li>
                            </ul>
                        </li>
                    </ul>
                    <aside class="notes">
                        <p>Slide 12 - Writing for Digital Media - this has an optional slide</p>
                    </aside>
                    <aside class="supplementary">
                        <p>Writing for Digital Media.</p>
                    </aside>
                    <aside class="polls" data-polls='[
                       {"Identifier": "likeDislike11-1","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
                </section>


            </section>
            <section>
                <blockquote>Last, but not least, avoice clich&eacute;s like the plague</blockquote>
                <p class="blockquote-attribution">William Safire</p>
                <aside class="notes">
                    <p>Slide 13 - Last slide, you should be wrapping up here</p>
                </aside>
                <aside class="supplementary">
                    <p>Thanks for listening, we hope you enjoyed this presentation.</p>
                    <p>For more information, please visit <a href="http://www.oxfordcc.co.uk">Oxford Computer Consultants</a></p>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": "multi12-0","question" : "Rate this presentation out of 5" ,"style" : "MultiChoice" ,"options" :
                       [
                       { "optionid": 1, "optiontext": "1: Terrible" },{ "optionid": 2, "optiontext": "2: Poor" }, {"optionid": 3, "optiontext": "3: Average"}, {"optionid": 4, "optiontext": "4: Good"}, {"optionid": 5, "optiontext": "5: Excellent"}] },
                       {"Identifier": "likeDislike12-0","question" : "" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Like", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "Dislike", "optionstyle" : "ThumbsDown" }] }
                    ]'></aside>
            </section>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/reveal/lib/js/head.min.js")"></script>
    <script src="@Url.Content("~/Scripts/reveal/reveal.js")"></script>
    <script src="@Url.Content("~/Scripts/reveal/occtheme.js")"></script>
    <script>

        // Full list of configuration options available here:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: false,
            width: 1024,
            height: 768,

            theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'none', // default/cube/page/concave/zoom/linear/fade/none

            // Parallax scrolling
            // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
            // parallaxBackgroundSize: '2100px 900px',

            // Optional libraries used to extend on reveal.js
            dependencies: [
                { src: '@Url.Content("~/Scripts/reveal/lib/js/classList.js")', condition: function () { return !document.body.classList; } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/markdown/marked.js")', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/markdown/markdown.js")', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/highlight/highlight.js")', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/zoom-js/zoom.js")', async: true, condition: function () { return !!document.body.classList; } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/notes/notes.js")', async: true, condition: function () { return !!document.body.classList; } }
            ]
        });

        OccTheme.initialize('@Url.Content("~/Content/")');



    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/bundles/d3")
    @Scripts.Render("~/bundles/angular")
    <script>
        window.BASE_URL = "@Html.Raw(Url.Content("~"))";
        window.HUB_URL = "@Html.Raw(Url.Content("~/signalr/"))";
        window.HUB_NAME = "RTCDeckHub";
    </script>
    <script src="~/Scripts/RTCDeckAppCode/Models.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/HubCommunications.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/SlideViewCtrl.js"></script>
    @if (Model.IsPrimaryPresentation) 
    {
        <script src="~/Scripts/RTCDeckAppCode/PrimarySlideView.js"></script>
    } else{
        <script src="~/Scripts/RTCDeckAppCode/SlideView.js"></script>
    }
    <script src="~/Scripts/RTCDeckAppCode/PollGraphView.js"></script>
    <script src="@Url.Content("~/Scripts/RTCDeckAppCode/Annotate.js")"></script>
    <script src="@Url.Content("~/Scripts/hand-1.2.2.js")"></script>

</body>

</html>
