@model RTCDeckServer.Models.PresentationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Appleby Partner Development Programme</title>
    <meta name="description" content="Mapping the Journey Ahead">
    <meta name="author" content="Michael Smets">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="@Url.Content("~/Content/reveal/reveal.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/reveal/theme/source/sbs.css")" id="theme">
    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="@Url.Content("~/Content/reveal/lib/zenburn.css")">
    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="@Url.Content("~/Content/reveal/print/")' + (window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper') + '.css" type="text/css" media="print">');
    </script>
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Scripts/reveal/lib/js/html5shiv.js")"></script>
    <![endif]-->
</head>
<body ng-app="slideView">

    <div class="reveal" ng-controller="Controllers.SlideViewCtrl">
        <!-- Any section element inside of this container is displayed as a slide -->
        <div class=" slides">
            <section>
                <h2>20/20 Swirl Score Sheet</h2>
                <p class="connect">bit.ly/applebyswirl</p>
                <p>
                    <img src="@Url.Content("~/Content/Images/SbsSwirlScoreSheet.png")" />
                </p>

                <aside class="notes">
                    <p>First slide</p>
                </aside>

                <aside class="supplementary">
                    <p>How would you rate the strength of your company in the following areas?</p>
                </aside>
                <aside class="polls" data-polls='[{
                       "Identifier" : "multi0-0",
                       "question" : "Expertise",
                       "style" : "MultiChoice",
                       "options" : [
                           { "optionid": 1, "optiontext": "1" },
                           { "optionid": 2, "optiontext": "2" },
                           { "optionid": 3, "optiontext": "3" },
                           { "optionid": 4, "optiontext": "4" },
                           { "optionid": 5, "optiontext": "5" }
                       ]
                       },{
                       "Identifier" : "multi0-1",
                       "question" : "Service",
                       "style" : "MultiChoice",
                       "options" : [
                           { "optionid": 1, "optiontext": "1" },
                           { "optionid": 2, "optiontext": "2" },
                           { "optionid": 3, "optiontext": "3" },
                           { "optionid": 4, "optiontext": "4" },
                           { "optionid": 5, "optiontext": "5" }
                       ]
                       },{
                       "Identifier" : "multi0-2",
                       "question" : "Reputation",
                       "style" : "MultiChoice",
                       "options" : [
                           { "optionid": 1, "optiontext": "1" },
                           { "optionid": 2, "optiontext": "2" },
                           { "optionid": 3, "optiontext": "3" },
                           { "optionid": 4, "optiontext": "4" },
                           { "optionid": 5, "optiontext": "5" }
                       ]
                       },{
                       "Identifier" : "multi0-3",
                       "question" : "Relationship",
                       "style" : "MultiChoice",
                       "options" : [
                           { "optionid": 1, "optiontext": "1" },
                           { "optionid": 2, "optiontext": "2" },
                           { "optionid": 3, "optiontext": "3" },
                           { "optionid": 4, "optiontext": "4" },
                           { "optionid": 5, "optiontext": "5" }
                       ]
                       }]'></aside>
            </section>
            <section>
                <h2>20/20 Swirl Score Sheet (2)</h2>
                <p class="connect">bit.ly/applebyswirl</p>
                <p>
                    <img src="@Url.Content("~/Content/Images/SbsSwirlScoreSheet.png")" />
                </p>

                <aside class="notes">
                    <p>Second slide</p>
                </aside>

                <aside class="supplementary">
                    <p>And how about these?</p>
                </aside>
                <aside class="polls" data-polls='[{
                       "Identifier" : "multi1-0",
                       "question" : "Bundling",
                       "style" : "MultiChoice",
                       "options" : [
                           { "optionid": 1, "optiontext": "1" },
                           { "optionid": 2, "optiontext": "2" },
                           { "optionid": 3, "optiontext": "3" },
                           { "optionid": 4, "optiontext": "4" },
                           { "optionid": 5, "optiontext": "5" }
                       ]
                       },{
                       "Identifier" : "multi1-1",
                       "question" : "Communicating",
                       "style" : "MultiChoice",
                       "options" : [
                           { "optionid": 1, "optiontext": "1" },
                           { "optionid": 2, "optiontext": "2" },
                           { "optionid": 3, "optiontext": "3" },
                           { "optionid": 4, "optiontext": "4" },
                           { "optionid": 5, "optiontext": "5" }
                       ]
                       },{
                       "Identifier" : "multi1-2",
                       "question" : "Partnering",
                       "style" : "MultiChoice",
                       "options" : [
                           { "optionid": 1, "optiontext": "1" },
                           { "optionid": 2, "optiontext": "2" },
                           { "optionid": 3, "optiontext": "3" },
                           { "optionid": 4, "optiontext": "4" },
                           { "optionid": 5, "optiontext": "5" }
                       ]
                       },{
                       "Identifier" : "multi1-3",
                       "question" : "Learning",
                       "style" : "MultiChoice",
                       "options" : [
                           { "optionid": 1, "optiontext": "1" },
                           { "optionid": 2, "optiontext": "2" },
                           { "optionid": 3, "optiontext": "3" },
                           { "optionid": 4, "optiontext": "4" },
                           { "optionid": 5, "optiontext": "5" }
                       ]
                       }]'></aside>
            </section>
            
            <section>
                <h2>20/20 Swirl Score Sheet Results</h2>
                <div ng-controller="PGV_Controllers.PollAverageViewCtrl" ng-init="init(true);" class="poll-average-container">
                    <img src="@Url.Content("~/Content/Images/SbsSwirlScoreSheet.png")" />
                    <div id="avgforpollmulti0-0" class="poll-average"></div>
                    <div id="avgforpollmulti0-1" class="poll-average"></div>
                    <div id="avgforpollmulti0-2" class="poll-average"></div>
                    <div id="avgforpollmulti0-3" class="poll-average"></div>
                    <div id="avgforpollmulti1-0" class="poll-average"></div>
                    <div id="avgforpollmulti1-1" class="poll-average"></div>
                    <div id="avgforpollmulti1-2" class="poll-average"></div>
                    <div id="avgforpollmulti1-3" class="poll-average"></div>
                </div>

                <aside class="supplementary">
                    <p>Thanks for your votes!</p>
                </aside>
            </section>

            <section>
                <h2>20/20 Swirl Score Sheet Results</h2>
                <div id="graphsDiv" ng-controller="PGV_Controllers.PollGraphViewCtrl" ng-init="init(true);"></div>

                <aside class="supplementary">
                    <p>Thanks for your votes!</p>
                </aside>
            </section>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/reveal/lib/js/head.min.js")"></script>
    <script src="@Url.Content("~/Scripts/reveal/reveal.js")"></script>
    <script src="@Url.Content("~/Scripts/reveal/sbstheme.js")"></script>
    <script>
        // Full list of configuration options available here:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: false,
            progress: false,
            history: true,
            center: false,
            width: 1024,
            height: 768,
            touch: false,
            margin: 0, // keeping to 0 removes the scaling when viewed at actual resolution

            theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'none', // default/cube/page/concave/zoom/linear/fade/none

            // Parallax scrolling
            // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
            // parallaxBackgroundSize: '2100px 900px',

            // Optional libraries used to extend on reveal.js
            dependencies: [
                { src: '@Url.Content("~/Scripts/reveal/lib/js/classList.js")', condition: function () { return !document.body.classList; } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/markdown/marked.js")', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/markdown/markdown.js")', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/highlight/highlight.js")', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/zoom-js/zoom.js")', async: true, condition: function () { return !!document.body.classList; } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/notes/notes.js")', async: true, condition: function () { return !!document.body.classList; } }
            ]
        });

        OccTheme.initialize('@Html.Raw(Url.Content("~"))');
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/bundles/d3")
    @Scripts.Render("~/bundles/angular")
    <script>
        window.BASE_URL = "@Html.Raw(Url.Content("~"))";
        window.HUB_URL = "@Html.Raw(Url.Content("~/signalr/"))";
        window.HUB_NAME = "RTCDeckHub";
    </script>
    <script src="~/Scripts/RTCDeckAppCode/Models.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/HubCommunications.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/SlideViewCtrl.js"></script>
    @if (Model.IsPrimaryPresentation) 
    {
        <script src="~/Scripts/RTCDeckAppCode/PrimarySlideView.js"></script>
    } else{
        <script src="~/Scripts/RTCDeckAppCode/SlideView.js"></script>
    }
    <script src="~/Scripts/RTCDeckAppCode/PollGraphView.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/PollAverageView.js"></script>
    <script src="@Url.Content("~/Scripts/RTCDeckAppCode/Annotate.js")"></script>
    <script src="@Url.Content("~/Scripts/hand-1.2.2.js")"></script>

</body>

</html>
