@model RTCDeckServer.Models.PresentationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Clear and engaging writing</title>
    <meta name="description" content="A presentation on how to produce better written content">
    <meta name="author" content="Luke Canvin">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="@Url.Content("~/Content/reveal/reveal.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/reveal/theme/source/occ.css")" id="theme">
    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="@Url.Content("~/Content/reveal/lib/zenburn.css")">
    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="@Url.Content("~/Content/reveal/print/")' + (window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper') + '.css" type="text/css" media="print">');
    </script>
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Scripts/reveal/lib/js/html5shiv.js")"></script>
    <![endif]-->
</head>
<body ng-app="slideView">



    <div class="reveal" ng-controller="Controllers.SlideViewCtrl">
        <!-- Any section element inside of this container is displayed as a slide -->
        <div class=" slides">
            <section class="title" data-background="@Url.Content("~/Content/reveal/theme/images/occbackground.png")">
                <h2>Show &amp; tell</h2>
                <h1>Clear and engaging writing</h1>
                <aside class="notes">
                    <p><strong>These are the notes for the title slide of the presentation.</strong> They will not be shown to the audience.</p>
                    <ul>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ul>
                </aside>
                <aside class="supplementary">
                    <p><strong>This is some supplementary content for the title slide of the presentation.</strong> This is for the audience members.</p>
                    <ol>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ol>
                </aside>
                <aside class="polls" data-polls='[{"Identifier": " slideTitlePoll1","question" : "Choose any option?" ,"style" : "MultiChoice" ,"options" :
                       [
                       {"Identifier": " pollforslide22","question" : "Does this work?" ,"style" : "MultiChoice" ,"options" : [{ "optionid": 1, "optiontext": "Maybe" },{ "optionid": 2, "optiontext": "No" }] },
                       ]'></aside>
            </section>
            <section>
                <h2>Why writing is important</h2>
                <ul>
                    <li>It's often our first point of contact</li>
                    <li>What we write is part of our company's voice</li>
                    <li class="fragment">We are judged by it</li>
                </ul>
                <aside class="notes">
                    <p><strong>These are the notes for the title slide of the presentation.</strong> They will not be shown to the audience.</p>
                    <ul>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ul>
                </aside>
                <aside class="supplementary">
                    <p><strong>This is some supplementary content for the title slide of the presentation.</strong> This is for the audience members.</p>
                    <ol>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ol>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": " pollforslide1","question" : "Is this slide helpful?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Yes", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No", "optionstyle" : "ThumbsDown" }] },
                       {"Identifier": " pollforslide2","question" : "Does this work?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Maybe","optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No" ,"optionstyle" : "ThumbsDown"}]
                        }]'></aside>
            </section>
            <section>
                <blockquote>The most valuable of all talents is that of never using two words when one will do</blockquote>
                <p class="blockquote-attribution">Thomas Jefferson</p>
                <aside class="notes">
                    The audience gets an image of Jefferson.
                </aside>
                <aside class="supplementary">
                    <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Thomas_Jefferson_by_Rembrandt_Peale_1805_cropped.jpg/220px-Thomas_Jefferson_by_Rembrandt_Peale_1805_cropped.jpg" alt="Portrait of Jefferson" />
                </aside>
            </section>
            <section>
                <section>
                    <h2>Tips for clear writing</h2>
                    <ul>
                        <li>
                            Ask yourself:
                            <ol>
                                <li>
                                    Why am I writing this?
                                    <ul>
                                        <li>What's it going to achieve?</li>
                                        <li>What questions am I answering?</li>
                                        <li>Does the material exist already?</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </section>
                <section>
                    <h2>Tips for clear writing</h2>
                    <ul>
                        <li>
                            Ask yourself:
                            <ol>
                                <li>Why am I writing this?</li>
                                <li>
                                    Who is it for?
                                    <ul>
                                        <li>Keep your readers' needs in mind</li>
                                        <li>Be clear about what action you want your readers to take</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </section>

                <section>
                    <h2>Tips for clear writing</h2>
                    <ul>
                        <li>
                            Ask yourself:
                            <ol>
                                <li>Why am I writing this?</li>
                                <li>Who is it for?</li>
                                <li>
                                    What am I trying to say?
                                    <ul>
                                        <li>What are the important messages?</li>
                                        <li>Outline a plan</li>
                                        <li>Use subheadings</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </section>

                <section>
                    <h2>Tips for clear writing</h2>
                    <ul>
                        <li>
                            Ask yourself:
                            <ol>
                                <li>Why am I writing this?</li>
                                <li>Who is it for?</li>
                                <li>What am I trying to say?</li>
                            </ol>
                        </li>
                        <li class="separate">Reader-centred writing</li>
                        <li class="fragment">Will your readers leave with the right message?</li>
                    </ul>
                </section>

                <aside class="notes">
                    <p>Here's a link: <a href="http://blog.oxfordcc.co.uk/category/technology/devcamp/">OCC Blog</a></p>
                </aside>
                <aside class="supplementary">
                    <p>Here's a link: <a href="http://blog.oxfordcc.co.uk/category/technology/devcamp/">OCC Blog</a></p>
                </aside>

            </section>
            <section>
                <h2>How to say what you mean</h2>
                <ul>
                    <li>Be direct</li>
                    <li>Use the active voice</li>
                    <li>Keep it short and simple</li>
                    <li>One sentence, one idea</li>
                    <li>Proof it</li>
                </ul>

                <aside class="notes">
                    <p><strong>These are the notes for the title slide of the presentation.</strong> They will not be shown to the audience.</p>
                    <ul>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ul>
                </aside>
                <aside class="supplementary">
                    <p><strong>This is some supplementary content for the title slide of the presentation.</strong> This is for the audience members.</p>
                    <ol>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ol>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": " pollforslide1","question" : "Is this slide helpful?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Yes", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No", "optionstyle" : "ThumbsDown" }] },
                       {"Identifier": " pollforslide2","question" : "Does this work?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Maybe","optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No" ,"optionstyle" : "ThumbsDown"}]
                        }]'></aside>

            </section>
            <section>
                <h2>Be direct</h2>
                <ul>
                    <li>Address your readers as ‘you’</li>
                    <li>Refer to yourself as ‘we’ or ‘I’</li>
                    <li class="fragment" data-fragment-index="1">Your writing and its relevance will be easier to understand</li>
                    <li class="fragment" data-fragment-index="1">‘You’ and ‘we’ make writing more confident, transparent and personal</li>
                    <li class="fragment" data-fragment-index="2">Write about what concerns your reader</li>
                </ul>
                <aside class="notes">
                    <p><strong>These are the notes for the title slide of the presentation.</strong> They will not be shown to the audience.</p>
                    <ul>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ul>
                </aside>
                <aside class="supplementary">
                    <p><strong>This is some supplementary content for the title slide of the presentation.</strong> This is for the audience members.</p>
                    <ol>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ol>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": " pollforslide1","question" : "Is this slide helpful?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Yes", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No", "optionstyle" : "ThumbsDown" }] },
                       {"Identifier": " pollforslide2","question" : "Does this work?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Maybe","optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No" ,"optionstyle" : "ThumbsDown"}]
                        }]'></aside>
            </section>
            <section>
                <section>
                    <h2>Use the active voice</h2>
                    <ul>
                        <li>The single biggest thing to make your writing more engaging</li>
                        <li class="separate fragment">
                            Passive voice:
                            <p class="indent correct">‘All of the mistakes were made by him’</p>
                        </li>
                        <li class="fragment">
                            Active voice:
                            <p class="indent incorrect">‘He made all of the mistakes’</p>
                        </li>
                    </ul>
                </section>

                <section>
                    <h2>Use the active voice</h2>
                    <ul>
                        <li>The passive voice puts the action first</li>
                        <li>The active voice puts the ‘doer’ first</li>
                        <li class="fragment" data-fragment-index="1">Clearer</li>
                        <li class="fragment" data-fragment-index="1">Less clumsy/academic</li>
                        <li class="fragment" data-fragment-index="1">More concise</li>
                        <li class="fragment" data-fragment-index="1">More interesting</li>
                    </ul>
                </section>

                <section>
                    <h2>Use the active voice</h2>
                    <ul>
                        <li>
                            Look out for ‘was’ and ‘by’
                            <ul>
                                <li>‘The report was written by me’</li>
                                <li>‘Her birthday was celebrated’</li>
                            </ul>
                        </li>
                        <li class="fragment">
                            Or when there is no ‘doer’
                            <ul>
                                <li>‘The files will be sent as soon as possible’</li>
                                <li>‘All our records have been lost’</li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <aside class="notes">
                    <p><strong>These are the notes for the title slide of the presentation.</strong> They will not be shown to the audience.</p>
                    <ul>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ul>
                </aside>
                <aside class="supplementary">
                    <p><strong>This is some supplementary content for the title slide of the presentation.</strong> This is for the audience members.</p>
                    <ol>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ol>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": " pollforslide1","question" : "Is this slide helpful?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Yes", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No", "optionstyle" : "ThumbsDown" }] },
                       {"Identifier": " pollforslide2","question" : "Does this work?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Maybe","optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No" ,"optionstyle" : "ThumbsDown"}]
                        }]'></aside>
            </section>
            <section>
                <section>
                    <h2>Keep it short and simple</h2>
                    <ul>
                        <li>Use everyday language</li>
                        <li>
                            Edit what you’ve written
                            <ul>
                                <li>Are you using the best word for the job?</li>
                                <li>What do you mean?</li>
                                <li>Is there a simpler way to say it?</li>
                            </ul>
                        </li>
                        <li class="fragment">When you’re finished, try cutting the content by a third</li>
                    </ul>
                </section>

                <section>
                    <h2>Keep it short and simple</h2>
                    <ul>
                        <li>Verbs make language dynamic</li>
                        <li class="fragment" data-fragment-index="1">
                            Watch out for ‘nominalisation’
                            <ul>
                                <li>Creating a noun from a verb</li>
                                <li class="fragment" data-fragment-index="2">Use <span class="correct">consider</span> not <span class="incorrect">give consideration to</span></li>
                                <li class="fragment" data-fragment-index="2">Use <span class="correct">decide</span>, not <span class="incorrect">reach a decision</span></li>
                            </ul>
                        </li>
                        <li class="fragment">
                            Be concrete rather than abstract
                            <ul class="fragment">
                                <li><span class="incorrect">Employment opportunities</span> = <span class="correct">jobs</span></li>
                                <li><span class="incorrect">Achieve the objective</span> = <span class="correct">release on the 30th</span></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <aside class="notes">
                    <p><strong>These are the notes for the title slide of the presentation.</strong> They will not be shown to the audience.</p>
                    <ul>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ul>
                </aside>
                <aside class="supplementary">
                    <p><strong>This is some supplementary content for the title slide of the presentation.</strong> This is for the audience members.</p>
                    <ol>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ol>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": " pollforslide1","question" : "Is this slide helpful?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Yes", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No", "optionstyle" : "ThumbsDown" }] },
                       {"Identifier": " pollforslide2","question" : "Does this work?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Maybe","optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No" ,"optionstyle" : "ThumbsDown"}]
                        }]'></aside>
            </section>
            <section>
                <h2>One sentence, one idea</h2>
                <ul>
                    <li>Keep your sentences short</li>
                    <li>One idea per sentence</li>
                    <li>Long sentences are hard to follow and understand</li>
                    <li>Varying the rhythm of your sentences keep them engaging</li>
                    <li>Try to stick to one main point per paragraph</li>
                </ul>
                <aside class="notes">
                    <p><strong>These are the notes for the title slide of the presentation.</strong> They will not be shown to the audience.</p>
                    <ul>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ul>
                </aside>
                <aside class="supplementary">
                    <p><strong>This is some supplementary content for the title slide of the presentation.</strong> This is for the audience members.</p>
                    <ol>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ol>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": " pollforslide1","question" : "Is this slide helpful?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Yes", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No", "optionstyle" : "ThumbsDown" }] },
                       {"Identifier": " pollforslide2","question" : "Does this work?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Maybe","optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No" ,"optionstyle" : "ThumbsDown"}]
                        }]'></aside>
            </section>
            <section>
                <h2>Proof it</h2>
                <ul>
                    <li>Proofreading is not an optional extra</li>
                    <li>Come back to proof when you’re fresh</li>
                    <li>Perhaps ask someone else</li>
                    <li>In some cases, printing it might be useful</li>
                </ul>
                <aside class="notes">
                    <p><strong>These are the notes for the title slide of the presentation.</strong> They will not be shown to the audience.</p>
                    <ul>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ul>
                </aside>
                <aside class="supplementary">
                    <p><strong>This is some supplementary content for the title slide of the presentation.</strong> This is for the audience members.</p>
                    <ol>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ol>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": " pollforslide1","question" : "Is this slide helpful?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Yes", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No", "optionstyle" : "ThumbsDown" }] },
                       {"Identifier": " pollforslide2","question" : "Does this work?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Maybe","optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No" ,"optionstyle" : "ThumbsDown"}]
                        }]'></aside>
            </section>
            <section>
                <h2>Top ten tips</h2>
                <ol class="smaller">
                    <li>Know your reader</li>
                    <li>Know what you want to say</li>
                    <li>Be direct</li>
                    <li>Use the active voice</li>
                    <li>Keep it short and simple</li>
                    <li>One sentence, one idea</li>
                    <li>Keep paragraphs short</li>
                    <li>Use subheadings that summarise your content</li>
                    <li>Edit, then edit again</li>
                    <li>Proofread when you’re fresh</li>
                </ol>
                <aside class="notes">
                    <p><strong>These are the notes for the title slide of the presentation.</strong> They will not be shown to the audience.</p>
                    <ul>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ul>
                </aside>
                <aside class="supplementary">
                    <p><strong>This is some supplementary content for the title slide of the presentation.</strong> This is for the audience members.</p>
                    <ol>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ol>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": " pollforslide1","question" : "Is this slide helpful?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Yes", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No", "optionstyle" : "ThumbsDown" }] },
                       {"Identifier": " pollforslide2","question" : "Does this work?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Maybe","optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No" ,"optionstyle" : "ThumbsDown"}]
                        }]'></aside>
            </section>
            <section>
                <blockquote>I try to leave out the parts that people skip</blockquote>
                <p class="blockquote-attribution">Elmore Leonard</p>
                <aside class="notes">
                    <p><strong>These are the notes for the title slide of the presentation.</strong> They will not be shown to the audience.</p>
                    <ul>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ul>
                </aside>
                <aside class="supplementary">
                    <p><strong>This is some supplementary content for the title slide of the presentation.</strong> This is for the audience members.</p>
                    <ol>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ol>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": " pollforslide1","question" : "Is this slide helpful?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Yes", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No", "optionstyle" : "ThumbsDown" }] },
                       {"Identifier": " pollforslide2","question" : "Does this work?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Maybe","optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No" ,"optionstyle" : "ThumbsDown"}]
                        }]'></aside>
            </section>
            <section>
                <section>
                    <h2>Writing for digital media</h2>
                    <ul>
                        <li>One subject per page</li>
                        <li>Key information in the most prominent position</li>
                        <li>Intro paragraph answering basic questions</li>
                        <li>Links to supporting information</li>
                    </ul>
                </section>
                <section>
                    <h2>Writing for digital media</h2>
                    <ul>
                        <li>Plentiful, meaningful subheadings</li>
                        <li>Use bold to highlight key ideas</li>
                        <li>Keep paragraphs short</li>
                        <li>
                            Optimise for search
                            <ul>
                                <li>Title and headings</li>
                                <li>Description</li>
                                <li>Links</li>
                            </ul>
                        </li>
                    </ul>
                </section><aside class="notes">
    <p><strong>These are the notes for the title slide of the presentation.</strong> They will not be shown to the audience.</p>
    <ul>
        <li>List item 1</li>
        <li>List item 2</li>
    </ul>
</aside>
<aside class="supplementary">
    <p><strong>This is some supplementary content for the title slide of the presentation.</strong> This is for the audience members.</p>
    <ol>
        <li>List item 1</li>
        <li>List item 2</li>
    </ol>
</aside>
<aside class="polls" data-polls='[
                       {"Identifier": " pollforslide1","question" : "Is this slide helpful?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Yes", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No", "optionstyle" : "ThumbsDown" }] },
                       {"Identifier": " pollforslide2","question" : "Does this work?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Maybe","optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No" ,"optionstyle" : "ThumbsDown"}]
                        }]'></aside>

            </section>
            <section>
                <blockquote>Last, but not least, avoice clich&eacute;s like the plague</blockquote>
                <p class="blockquote-attribution">William Safire</p>
                <aside class="notes">
                    <p><strong>These are the notes for the title slide of the presentation.</strong> They will not be shown to the audience.</p>
                    <ul>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ul>
                </aside>
                <aside class="supplementary">
                    <p><strong>This is some supplementary content for the title slide of the presentation.</strong> This is for the audience members.</p>
                    <ol>
                        <li>List item 1</li>
                        <li>List item 2</li>
                    </ol>
                </aside>
                <aside class="polls" data-polls='[
                       {"Identifier": " pollforslide1","question" : "Is this slide helpful?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Yes", "optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No", "optionstyle" : "ThumbsDown" }] },
                       {"Identifier": " pollforslide2","question" : "Does this work?" ,"style" : "ThumbsUpThumbsDown" ,"options" : [{ "optionid": 1, "optiontext": "Maybe","optionstyle" : "ThumbsUp" },{ "optionid": 2, "optiontext": "No" ,"optionstyle" : "ThumbsDown"}]
                        }]'></aside>
            </section>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/reveal/lib/js/head.min.js")"></script>
    <script src="@Url.Content("~/Scripts/reveal/reveal.js")"></script>
    <script src="@Url.Content("~/Scripts/reveal/occtheme.js")"></script>
    <script>

        // Full list of configuration options available here:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: false,
            width: 1024,
            height: 768,

            theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'none', // default/cube/page/concave/zoom/linear/fade/none

            // Parallax scrolling
            // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
            // parallaxBackgroundSize: '2100px 900px',

            // Optional libraries used to extend on reveal.js
            dependencies: [
                { src: '@Url.Content("~/Scripts/reveal/lib/js/classList.js")', condition: function () { return !document.body.classList; } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/markdown/marked.js")', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/markdown/markdown.js")', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/highlight/highlight.js")', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/zoom-js/zoom.js")', async: true, condition: function () { return !!document.body.classList; } },
                { src: '@Url.Content("~/Scripts/reveal/plugin/notes/notes.js")', async: true, condition: function () { return !!document.body.classList; } }
            ]
        });

        OccTheme.initialize('@Url.Content("~/Content/")');



    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/bundles/d3")
    @Scripts.Render("~/bundles/angular")
    <script>
        window.BASE_URL = "@Html.Raw(Url.Content("~"))";
        window.HUB_URL = "@Html.Raw(Url.Content("~/signalr/"))";
        window.HUB_NAME = "RTCDeckHub";
    </script>
    <script src="~/Scripts/RTCDeckAppCode/Models.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/HubCommunications.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/SlideViewCtrl.js"></script>
    @if (Model.IsPrimaryPresentation) 
    {
        <script src="~/Scripts/RTCDeckAppCode/PrimarySlideView.js"></script>
    } else{
        <script src="~/Scripts/RTCDeckAppCode/SlideView.js"></script>
    }
    <script src="~/Scripts/RTCDeckAppCode/PollGraphView.js"></script>
    <script src="@Url.Content("~/Scripts/RTCDeckAppCode/Annotate.js")"></script>
    <script src="@Url.Content("~/Scripts/hand-1.2.2.js")"></script>

</body>

</html>
