@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="secondaryView">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Speaker</title>
    @Styles.Render("~/Content/secondscreencss")
    <link href="http://fonts.googleapis.com/css?family=Raleway:300&text=SpeakerNotsCh" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="speaker" ng-controller="Controllers.SecondaryViewCtrl">
    <div id="headerwrap">
        <div class="container centered">
            <h1>Speaker</h1>
        </div>
    </div>
    <div id="slides">
        <div class="container">
            <div class="row">
                <div class="content col-md-6">
                    <h2 class="subheader">Notes</h2>
                    <div ng-bind-html="currentSlide.speakerNotes"></div>
                </div>
                <div class="polls col-md-6">
                    <h2 class="subheader">Charts</h2>
                    <p>Charts go here</p>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/bundles/angular")
    <script>
        window.BASE_URL = "@Html.Raw(Url.Content("~"))";
        window.HUB_URL = "@Html.Raw(Url.Content("~/signalr/"))";
        window.HUB_NAME = "RTCDeckHub";
    </script>
    <script src="~/Scripts/RTCDeckAppCode/Models.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/HubCommunications.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/SecondaryView.js"></script>
</body>
</html>

