@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="secondaryView">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Speaker</title>
    @Styles.Render("~/Content/secondscreencss")
    <link href="http://fonts.googleapis.com/css?family=Raleway:300&text=SpeakerNotsChTimEld1234567890:" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="speaker" ng-controller="Controllers.SecondaryViewCtrl">
    <div id="headerwrap">
        <div class="container centered">
            <h1>Speaker</h1>
            <a class="start-timer" ng-click="startTimer()" ng-hide="timerStarted">StartTimer</a>
            <a class="presentation-view" href="/RTCDeckServer/Presentation">PresentationView</a>
        </div>
        <div class="container centered" ng-hide="!timerStarted">
            <div class="row time">
                <div class="clock col-md-6">
                    <h2 class="subheader">Time</h2>
                    <span id="clock">0:00:00</span>
                </div>
                <div class="elapsed col-md-6">
                    <h2 class="subheader">Elapsed</h2>
                    <span id="hours">00</span><span id="minutes">:00</span><span id="seconds">:00</span>
                </div>
            </div>
        </div>
    </div>
    <div id="slides">
        <div class="container">
            <div class="row">
                <div class="content col-md-6">
                    <h2 class="subheader">Notes</h2>
                    <div ng-bind-html="currentSlide.speakerNotes"></div>
                </div>
                <div class="polls col-md-6">
                    <h2 class="subheader">Charts</h2>
                    <div id="graphsDiv" ng-controller="PGV_Controllers.PollGraphViewCtrl" ng-init="init(false);"></div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalR")
        @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/d3")
    <script src="~/Scripts/RTCDeckAppCode/RevealTimer.js"></script>
    <script>
        window.BASE_URL = "@Html.Raw(Url.Content("~"))";
        window.HUB_URL = "@Html.Raw(Url.Content("~/signalr/"))";
        window.HUB_NAME = "RTCDeckHub";
    </script>
    <script src="~/Scripts/RTCDeckAppCode/Models.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/HubCommunications.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/SecondaryView.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/PollGraphView.js"></script>
</body>
</html>

