@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="audienceView">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Audience</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/bundles/angular")
    <script>
        window.BASE_URL = "@Html.Raw(Url.Content("~"))";
        window.HUB_URL = "@Html.Raw(Url.Content("~/signalr/"))";
        window.HUB_NAME = "RTCDeckHub";
    </script>
    <script src="~/Scripts/RTCDeckAppCode/Models.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/HubCommunications.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/AudienceView.js"></script>
</head>
<body ng-controller="Controllers.AudienceViewCtrl">
    <div>
        Slide ({{slideData.indexh}} , {{slideData.indexv}})
        <div ng-bind-html="slideData.supplementaryContent"></div>

        <div>
            <ul ng-repeat="poll in slideData.polls">
                <li>
                        {{poll.Question}}
                        <ul>
                            <li ng-repeat="option in poll.Options">
                                <a href="#" ng-click="selectAnswer(poll,option)"> @*ng-class="{selected : isSelected(poll,option)}">*@
                                    <img src="{{option.OptionImagePath}}" alt="{{option.OptionText}}">
                                </a>
                            </li>
                        </ul>
                </li>
            </ul>
        </div>

    </div>
</body>
</html>
