@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="audienceView">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Audience</title>
    @Styles.Render("~/Content/secondscreencss")
    <link href="http://fonts.googleapis.com/css?family=Raleway:300&text=Audience" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="audience" ng-controller="Controllers.AudienceViewCtrl">
    <div id="headerwrap">
        <div class="container centered">
            <h1>Audience</h1>
        </div>
    </div>
    <div id="slides">
        <div ng-repeat="slideData in slides" ng-hide="!isCurrentSlide(slideData)">
            <div class="container content" ng-bind-html="slideData.supplementaryContent"></div>
            <div class="polls">
                <div class="container">
                    <ul ng-repeat="poll in slideData.polls" ng-hide="paused" ng-cloak>
                        <li class="poll" ng-class="poll.Style">
                            <p class="poll-text">{{poll.Question}}</p>
                            <ul>
                                <li class="poll-option" ng-repeat="option in poll.Options">
                                    <a href="#" ng-click="selectAnswer(poll,option)" ng-class="option.selected ? option.OptionStyle + ' selected' : option.OptionStyle">
                                        {{option.OptionText}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="controls">
        <div class="container centered">
            <div class="row">
                <div class="col-xs-4">
                    <a class="prev" ng-click="navPrev()">Prev</a>
                </div>
                <div class="col-xs-4">
                    <a class="current" ng-hide="!paused" ng-click="goToCurrentServerSlide()">Current</a>
                </div>
                <div class="col-xs-4">
                    <a class="next" ng-click="navNext()">Next</a>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/bundles/angular")
    <script>
        window.BASE_URL = "@Html.Raw(Url.Content("~"))";
        window.HUB_URL = "@Html.Raw(Url.Content("~/signalr/"))";
        window.HUB_NAME = "RTCDeckHub";
    </script>
    <script src="~/Scripts/RTCDeckAppCode/Models.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/HubCommunications.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/AudienceView.js"></script>
</body>
</html>
